<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kys_8.easyforest">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.DayNight">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="caKuoSOAX8cuBKGDHFAnN9zlfH55hduZ" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/MainActivityTheme" />
        <activity android:name=".ui.activity.FindDetaActivity" />
        <activity android:name=".ui.activity.KeActivity" />
        <activity android:name=".ui.activity.TreeListActivity" />
        <activity
            android:name=".ui.activity.UploadActivity"
            android:theme="@style/UploadTheme" />
        <activity
            android:name=".ui.activity.TreeDetaActivity"
            android:theme="@style/MainActivityTheme" />
        <activity android:name=".ui.activity.MapActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.AboutUsActivity" />
        <activity android:name=".ui.activity.OpinionActivity" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:theme="@style/UploadTheme" />
        <activity android:name=".ui.activity.VInfoActivity" />
        <activity android:name=".ui.activity.ChangePWActivity" />
        <activity android:name=".ui.activity.BgActivity" />
        <activity android:name=".ui.activity.GuideActivity" />
        <activity android:name=".plant.IdentifyActivity" />
        <activity android:name=".plant.IdentifyHistoryActivity" />
        <activity android:name=".ui.activity.MDLoginActivity" />
        <activity android:name=".ui.activity.MDRegisterActivity" />
        <activity android:name=".plant.IdentifyWebActivity" />
        <activity android:name=".plant.IdentifyDetaActivity" />
        <activity android:name=".ui.activity.InfoActivity" />
        <activity android:name=".ui.activity.MyShareActivity" />
        <activity android:name=".ui.activity.CollectActivity" />
        <activity android:name=".ui.activity.MDUserInfoActivity" />
        <activity android:name=".ui.activity.HelpActivity"/>
    </application>

</manifest>